html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: hsl(0, 0%, 90%);
}

select {
    /* style the select input */
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

input[type="range"] {
    /* style the range input */
    -webkit-appearance: none;
    width: 100%;
    height: 1.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

label[type="range"] {
    color: white;
    max-width: 180px;
    margin: 0 0.5em;
}

p {
    margin: 0.5rem 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

a:active {
    cursor: grab;
}

* {
    box-sizing: border-box;
}

.sketch-container {
    height: 100vh;
}

canvas {
    display: block
}

img {
    fill: white;
}
