.gridTestimonial {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "one" "two" "three" "four" "five" "six" "seven" "eight" "nine";
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: min(95%, 100rem);
  margin: auto;
}

@media screen and (min-width: 33em) {
  .gridTestimonial {
    grid-template-areas:
      "one one"
      "two three"
      "four four"
      "five five"
      "six six"
      "seven eight"
      "nine";
  }
}

@media screen and (min-width: 38em) {
  .gridTestimonial {
    grid-template-areas:
      'one one'
      'two five'
      'three five'
      'four four'
      'six six'
      'seven eight'
      "nine nine";
  }
}

@media screen and (min-width: 54em) {
  .gridTestimonial {
    grid-template-areas:
      "one one two"
      "five five five"
      "three four four"
      "six six six"
      "seven seven eight"
      "nine nine nine";
  }
}

@media screen and (min-width: 75em) {
  .gridTestimonial {
    grid-template-areas:
      "one one two five"
      "three four four five"
      "six six six six"
      "eight seven seven nine";
  }
}

.testimonial:nth-child(1) {
  grid-area: one;
}

.testimonial:nth-child(2) {
  grid-area: two;
}

.testimonial:nth-child(3) {
  grid-area: three;
}

.testimonial:nth-child(4) {
  grid-area: four;
}

.testimonial:nth-child(5) {
  grid-area: five;
}

.testimonial:nth-child(6) {
  grid-area: six;
}

.testimonial:nth-child(7) {
  grid-area: seven;
}

.testimonial:nth-child(8) {
  grid-area: eight;
}

.testimonial:nth-child(9) {
  grid-area: nine;
}

.testimonial {
  min-height: 350px;
  color: white;
  padding: 2rem;
  border-radius: 0.2rem;
}

.testimonial:hover, .testimonial:focus {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.02);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.testimonial:active  {
  cursor: grab;
  transform: scale(1.02);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.title {
  font-weight: 500;
  font-size: 1.4rem;
}

.bgPurple {
  background-color: #8e44ad;
}

.bgLightGray {
  background-color: #555a77;
}

.bgDarkGray {
  background-color: #1b1c22;
}

.bgWhite {
  background-color: #fff;
}

.colorWhite {
  color: #fff;
}
