.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 75px;
    max-height: 75px;
    background-color: hsla(0, 0%, 0%, 0.1);
    transition: background-color 0.3s linear;
}

.navbar:hover {
    transition: background-color 0.5s linear;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.back-arrow {
    max-width: 75px;
    margin: auto;
}

.back-arrow:hover {
    cursor: pointer;
}

.back-arrow:focus {
    cursor: grab;
}

.no-btn {
    min-width: 75px;
    min-height: 75px;
    background: transparent !important;
    border: none !important;
}

/*.navbar:focus {*/
/*    transition: background-color 0.5s linear;*/
/*    background-color: hsla(0, 0%, 0%, 0.5);*/
/*}*/
