.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 75px;
    max-height: 75px;
    background-color: hsla(0, 0%, 0%, 0.1);
    transition: background-color 0.3s linear;
}

.navbar:hover {
    transition: background-color 0.5s linear;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.save-icon {
    max-width: 60px;
    scale: 1;
}

.refresh-arrow {
    min-width: 1rem;
    max-width: 2.5rem !important;
}

.back-arrow, .refresh-arrow, .save-icon {
    max-width: max-content;
    margin: auto;
}

.back-arrow:hover, .refresh-arrow:hover, .save-icon:hover {
    cursor: pointer;
}

.back-arrow:focus, .refresh-arrow:focus, .save-icon:focus {
    cursor: grab;
}

img {
    min-width: 3.5rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.no-btn {
    min-width: 3.5rem;
    aspect-ratio: 1;
    background: transparent !important;
    border: none !important;
}

.inside-nav {
    min-height: inherit;
    max-height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
}

.no-btn:last-of-type {
    margin-right: auto;
}

.right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/*.navbar:focus {*/
/*    transition: background-color 0.5s linear;*/
/*    background-color: hsla(0, 0%, 0%, 0.5);*/
/*}*/
