.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 75px;
    max-height: 75px;
    background-color: hsla(0, 0%, 0%, 0.1);
    transition: background-color 0.3s linear;
}

.navbar:hover {
    transition: background-color 0.5s linear;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.back-arrow {
    max-width: max-content;
    margin: auto;
}

.back-arrow:hover {
    cursor: pointer;
}

.back-arrow:focus {
    cursor: grab;
}

img {
    min-width: 3.5rem;
}

.no-btn {
    min-width: 3.5rem;
    aspect-ratio: 1;
    background: transparent !important;
    border: none !important;
}

.inside-nav {
    min-height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/*.navbar:focus {*/
/*    transition: background-color 0.5s linear;*/
/*    background-color: hsla(0, 0%, 0%, 0.5);*/
/*}*/
